@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #100114 #492966bd;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #492966bd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #100114;
  border-radius: 10px;
  border: 3px solid #492966bd;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4a3d61;
}

/* 
 */
code[data-line-numbers] {
  counter-reset: line;
}

span[data-highlighted-line] {
  background-color: #80808036;
}

mark[data-highlighted-chars] {
  background-color: #808080a8;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

/* #variables-and-data-types {
  font-weight: bold;
  font-size: x-large;
  flex: auto;
  justify-content: center;
  align-items: center;
} */
